.div-principal {
  border-radius: 1.5rem;
  padding: 2rem;

  border: 1px solid #e9eaec;
  margin: 0 10rem 15rem 10rem;
}

.titulo {
  margin: 3rem 0;
}
h1 {
  color: rgb(12, 71, 122);
  font-size: 35px;
}
.example-form-field {
  margin-right: 20px;
}
