table {
  width: 100%;
}
.topo {
  width: 100%;
  margin: 0;
  height: 100px;
  background: rgb(5, 102, 5);
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: antiquewhite;
}

.rodape {
  background-color: rgb(5, 102, 5);
}
