<div class="principal">
  <div class="container">
    <div class="row" id="topo">
      <div class="col-12">
        <img
          mat-card-image
          src="	https://sso.acesso.gov.br/assets/govbr/img/govbr.png"
          class="imagem-govbr"
        />
      </div>
    </div>
    <div class="row" id="container">
      <div class="col-7">
        <div mat-card-image></div>
        <mat-card-content>
          <img
            mat-card-image
            src="	https://sso.acesso.gov.br/assets/govbr/img/conta_govbr_v2.jpg"
            class="imagem"
          />
        </mat-card-content>
      </div>

      <div class="col-5">
        <form
          class="login"
          [formGroup]="registrationForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              formControlName="usuario"
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Informe o usuário"
            />
            <small id="emailHelp" class="form-text text-muted"
              >We'll never share your email with anyone else.</small
            >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              formControlName="senha"
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              placeholder="Informe a senha"
            />
          </div>

          <button type="submit" class="btn btn-primary" id="btn-login">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
